.table > tbody > tr.danger.js_pack_op_line.incorrect > td {
    background-color: yellow;
}
.table > tbody > tr.danger.js_pack_op_line.unknown > td {
    background-color: orangered;
}
.table > tbody > tr.js_pack_op_line.success > td {
    background-color: chartreuse;
}
